.SearchResults {
    position: absolute;
    width: 95%;
    max-width: 50rem;
    background: var(--color-element);
    top: 0;
    left: 2.5%;
    text-align: left;
    padding:  0rem 0rem 0rem 0rem;
    transform: translateY(6rem);
    border-radius: .5rem;
    list-style: none;
    padding: .2rem;
    // visibility: hidden;
}

.SearchResult {
    cursor: pointer;
    padding: .5rem;
    border-radius: .5rem;

    &--selected {
        background: var(--color-bg);
    }
}