.Flags {
    width: fit-content;
    display: flex;
    animation: slideRight 240s infinite cubic-bezier(1,1,1,1);
    cursor: pointer;
    will-change: transform;
    height: 7.4rem;
    transform: translateX(calc(-100% + 100vw));
    &:hover {
        animation-play-state: paused;
        
        & > * :not(:hover){
            filter: brightness(0.5);
        }
    }

    &__repeat {
        width: 100vw;
        display: flex;
        overflow: hidden;
    }

}

.Flags-container {
    width: 100vw;
    overflow: hidden;
    height: 7.4rem;
    box-shadow: .3rem .3rem 1rem 0 rgba(0,0,0,.15);
    background: #000;
}



@keyframes slideRight {
    from {
        transform: translateX(calc(-100% + 100vw));
    }
    
    to {
        transform: translateX(0)
    }
}